.video-lists {
  display: flex;
  align-items: start;
  height: 100%;
  justify-content: center;
  width: 700px;
}

.video-gallery{
  position: relative;
  height: 400px;
  width: 100%;
}
.video-thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-lists .items {
  display: flex;
  gap: 30px !important;
  flex-direction: column;
  align-items: start;
}

.video-lists .items .info{
  width: 90% !important;
}

.video-lists .items .item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.video-frame{
  width: 100%;
  min-height: 350px;
}

.video-lists .items .item .header-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.video-lists .items .item .header-title .tags,
.author,
.comments,
.views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.video-lists .items .item .header-title i {
  color: var(--primary-main-color);
  font-size: 18px;
}

.video-lists .items .item .header-title span {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
}

.video-lists .items .item .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.video-lists .items .item .info .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  width: auto;
}

.video-lists .items .item .info .description {
  font-size: 14px;
  color: var(--primary-lighter-color);
  font-weight: 400;
  width: auto;
}

.video-lists .items .item .info a {
  color: var(--primary-main-color);
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.video-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media(max-width: 1200px){
  .video-lists {
    width: 100%;
  }
  .video-frame{
    width: 100% !important;
  }
}

@media(max-width: 850px){
  .video-frame{
    min-width: 500px !important;
  }
  .video-lists .items {
    display: flex;
    gap: 30px !important;
    flex-direction: column;
  }
}

@media(max-width: 600px){
  .video-lists .items {
    display: flex;
    gap: 10px !important;
    flex-direction: column;
    align-items: center;
  }
  .video-frame{
    width: 100%;
    min-height: 300px !important;
    min-width: 360px !important;
  }
}

@media(max-width: 390px){
  .video-frame{
    width: 300px;
    min-height: 240px !important;
    min-width: 0 !important;
  }
}

.play-icon-div {
  border: 2px solid var(--primary-color);
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 4s infinite;
  z-index: 1;
}
.play-icon-wrapper {
  display: flex;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid var(--primary-main-color);
  transform: rotate(90deg);
  position: relative;
  left: 2px;
  z-index: 10;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}