.video-content .article-list{
  width: 100%;
}


@media(max-width: 750px){
  .video-content .articles{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video-content .articles .article-list{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}