/* Pagination.css
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    color: var(--primary-lighter-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid var(--primary-lighter-color);
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 50%;
  }
  .pagination button:hover {
    background: var(--primary-main-color);
    color: var(--primary-color);
    border: none;
  }
  
   */

   /* src/helpers/pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.pagination-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 16px;
  margin: 0 10px;
}
