.blog {
  padding-bottom: 100px;
}

.blog .container{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.blog .blog-pagination {
  width: 100%;
}

.blog .blog-tags{
  min-width: 350px;
}

@media(max-width: 1200px){
  .blog .container{
    gap: 4rem;
    flex-wrap: wrap;
  }
}

@media(max-width: 751px){
  .blog {
    padding-bottom: 50px;
  }
  .blog .container{
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .blog .posts{
    display: flex;
    justify-content: center;
  }
  .blog .blog-pagination {
    margin-bottom: 3rem;
  }
  .blog .blog-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
