.opinion .opinion-section {
  margin-top: 10.5rem;
}
@media (max-width: 970px) {
  .opinion .opinion-section {
    margin-top: 12rem;
  }
}

@media (max-width: 850px) {
  .opinion .opinion-section {
    margin-top: 6rem;
  }
}

@media (max-width: 650px) {
  .opinion .opinion-section {
    margin-top: 3rem;
  }
}
