.tour-package {
  display: flex;
  flex-direction: column;
}

.first-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tour-package-about {
  width: 70%;
}

.items {
  width: 28%;
}

/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {
  .first-container {
      flex-direction: column;
  }

  .tour-package-about, .items {
      width: 100%;
  }

  .items {
      margin-top: 20px;
  }
}
