.video-container{
  width: 700px;
  height: 100%;
  position: relative;
  border-radius: 0 !important;
}

.video-container video,
.video-container iframe{
  border-radius: 0 !important;
}

@media(max-width: 1200px) {
  .video-container{
    /* width: 100%; */
  }
}