.wrapper{
	position: relative;
}
.wrapper img{
	position: absolute;
	left: 50%;
	width: 470px;
	z-index: 0;
	top: 50%;
	transform: translate(-50%, -15%);
}
.success-message h2{
	color: var(--primary-color);
	margin-top: 10rem;
	font-size: 36px !important;
}
.form-wrapper {
	position: absolute;
	left: 51%;
	top: 20%;
	transform: translate(-50%, 18%);
	display: flex;
	flex-direction: column;
	padding: 20px;
	text-align: center;
	color: #fff;
	justify-content: center;
	z-index: 1;
	width: 350px;
}

.form-wrapper h2 {
	font-size: 22px;
}

.form-wrapper p{
	font-size: 22px;
	color: #fff;
	padding-bottom: 20px;
}

.form-wrapper .form {
	display: flex;
	align-self: center;
	width: 100%;
	flex-direction: column;
	gap: 12px;
	font-size: 14px;
}

.form-wrapper .input,
.form-wrapper .textarea {
	padding: 15px 10px;
	border-radius: 3px;
	overflow: hidden;
	border: none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;	
	width: 100%;
	color: var(--secondary-color);
}

.error-input {
	border: 1px solid red !important;
	color: var(--secondary-color);
}

.error-input::placeholder {
	color: red;
}
.form-wrapper .textarea {
	height: 80px !important;
	resize: none;
	min-height: inherit !important;
}

.form-wrapper button {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	border: none;
	border-radius: 3px;
	background-color: #000;
	color: #fff;
}

@media (max-width: 1120px) {
	.form-wrapper{
		transform: translate(-48%, -8%);
	}
	.wrapper img{
		position: relative;
		top: 50px;
	}
}

@media (max-width: 650px) {
	.wrapper img{
		width: 400px;
		left: calc(50% - 7px);
	}
	.form-wrapper{
		width: 340px;
		left: calc(50% - 7px);
	}
	.form-wrapper p{
		display: none;
	}
	.form-wrapper h2{
		font-size: 18px;
		margin-bottom: 8px;
	}
	.form-wrapper form {
		width: 100%;
		padding: 15px;
		gap: 5px;
	}
	.success-message h2{
		margin-top: 8rem;
		font-size: 28px !important;
	}
}
@media (max-width: 450px) {
	.wrapper img{
		width: 340px;
		top: 50px;
	}
	.form-wrapper{
		width: 280px;
	}
	.form-wrapper .form-group{
		margin-bottom: 0;
	}
	.form-wrapper form{
		padding: 0;
	}
	.form-wrapper textarea {
		padding: 3px 10px;
		font-size: 14px;
	} 
	.form-wrapper input {
		padding: 8px;
		font-size: 14px;
	} 
	.form-wrapper form button{
		width: 60%;
		padding: 12px;
	}
}

@media (max-width: 360px) {
	.wrapper img{
		width: 320px;
		top: 50px;
	}
	.form-wrapper{
		width: 260px;
	}
	.form-wrapper form {
		gap: 3px !important;
	}
	.form-wrapper form button{
		width: 50%;
		padding: 10px;
	}
}
