.title-wrapper {
  color: var(--primary-color);
}

.opinion-section {
  margin-top: 100px;
  padding: 0 0 140px 0;
  text-align: center;
  position: relative;
  background: url("../../images/nabawi_3.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.opinion-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.opinion-carousel {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 70px auto 0;
  overflow: hidden;
  z-index: 100;
  background: url("../../images/slider_background.png") no-repeat top left;
  background-size: contain;
  overflow: hidden;
  padding: 0 200px 0 200px;
}

.mySwiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  display: flex;
  gap: 20px;
  color: var(--secondary-color);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}

.opinion-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.opinion-image {
  width: 300px;
  height: 250px;
  background-image: url("../../icons/sec_help_fill.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.opinion-image img {
  width: 130px;
  padding-bottom: 20px;
  object-fit: cover;
}

.opinion-about {
  width: 400px;
  height: 60%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opinion-about .point {
  color: orange;
  font-size: 18px;
  margin-bottom: 10px;
}

.opinion-about .theme {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.opinion-about .description {
  color: grey;
  font-weight: 400;
  font-size: 18px;
  overflow-y: auto;
  scrollbar-width: 0;
}

.opinion-about .description::-webkit-scrollbar {
  width: 8px;
}

.opinion-about .description::-webkit-scrollbar-thumb {
  background-color: var(--primary-main-color);
}

.opinion-about .description::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.opinion-about h3 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}

.error {
  color: red;
  font-size: 1.2em;
}

@media (max-width: 1120px) {
  .opinion-carousel {
    background-image: url("../../icons/slider_bg.png");
    background-size: cover;
    padding: 0;
    height: max-content;
    padding: 20px 50px;
  }

  .opinion-about {
    height: 240px;
    padding-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .opinion-section .title-wrapper {
    padding-top: 30px;
    text-align: center;
  }
  .opinion-slide {
    flex-direction: column;
  }

  .opinion-about .theme {
    color: var(--primary-color);
    font-size: 14px;
    text-align: center;
  }

  .opinion-about .point {
    margin-top: 10px;
    text-align: center;
  }

  .opinion-about h3 {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
  }

  .opinion-about .description {
    color: var(--secondary-color);
    font-size: 14px;
    text-align: center;
  }

  .opinion-carousel {
    padding: 20px 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid var(--secondary-border-color);
  }

  .opinion-about {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .opinion-about .theme {
    color: var(--primary-color);
    font-size: 14px;
    text-align: center;
  }

  .opinion-about .point {
    margin-top: 10px;
    text-align: center;
  }

  .opinion-about .description {
    color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 14px;
    text-align: center;
  }

  .opinion-about {
    width: 100%;
  }
}
