.article-comments {
    width: 100%;
    height: max-content;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: start;
    flex-direction: column;
}

.article-comments .title {
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
}

.article-comments .items {
    width: 100%;
    max-height: 410px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* padding: 10px 0; */
    padding-right: 10px;
}

.article-comments .items::-webkit-scrollbar {
	width: 5px;
	overflow: hidden;
    border-radius: 10px;
}

.article-comments .items::-webkit-scrollbar-thumb {
    background-color: var(--primary-main-color);
    border-radius: 10px;
}

.article-comments .items::-webkit-scrollbar-track {
	background: #f1f1f1;

}

.article-comments .items .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.article-comments .items .item .name {
    width: 100%;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-comments .items .item .description {
    font-size: 14px;
    color: var(--primary-lighter-color);
    font-weight: 300;
}

.article-comments .items .item .name .created-at span {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-main-color);
}

.actions{
    display: flex;
    gap: 10px;
}

.actions button{
    border: none;
    background-color: transparent;
    color: var(--primary-lighter-color);
    font-family: 'Montserrat', sans-serif;
}

.sub-comment{
    margin-top: 20px;
    padding-left: 50px;
}

.sub-comment.show{
    display: block;
}
.sub-comment.none{
    display: none;
}

.extra-sub-comments{
    margin-top: 40px;
    padding-left: 50px;
}
.extra-sub-comments.show{
    display: block;
}
.extra-sub-comments.none{
    display: none;
}

